@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: white;
    overflow-x:hidden;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #16D833;
    width: 100%;
    background: #030303;
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo {
    color: #16D833;
    font-size: 1.6em;
    font-weight: 600;
}

.logo span {
 color: white;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: #16D833;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: white;
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: #16D833;
}

/* primeira section */

.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text {
    width: 37rem;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: #16D833;
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-img img {
    height: 350px;
    width: 100%;
}

.home-text p {
    margin-bottom: 4rem;
}

.home-btn{
    padding: 15px 45px;
    background-color: #16D833;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-btn:hover {
    background-color: #009534;
}

/* segunda section */

.home2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    background-color: black;
}

.home-text2 {
    width: 37rem;
}

.home-text2 .text-h4{
    font-size: 1.5rem;
    color: #16D833;
    margin-bottom: 1rem;
}

.home-text2 .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    color: white;
}

.home-text2 p {
    margin-bottom: 4rem;
    color: white;
}

.home-img2 img {
    height: 350px;
    width: 350px;
}
