@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: white;
    overflow-x:hidden;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #16D833;
    width: 100%;
    background: #030303;
    transition: all 0.5s;
    position: fixed;
    z-index: 5;
}

.navigation .logo {
    color: #16D833;
    font-size: 1.6em;
    font-weight: 600;
}

.logo span {
 color: white;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: #16D833;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: white;
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: #16D833;
}

/* primeira section */

.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text {
    width: 37rem;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: #16D833;
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-img img {
    height: 350px;
    width: 100%;
}

.home-text p {
    margin-bottom: 4rem;
}

.home-btn{
    padding: 15px 45px;
    background-color: #16D833;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-btn:hover {
    background-color: #009534;
}

/* segunda section */

.home2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    background-color: black;
}

.home-text2 {
    width: 37rem;
}

.home-text2 .text-h4{
    font-size: 1.5rem;
    color: #16D833;
    margin-bottom: 1rem;
}

.home-text2 .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    color: white;
}

.home-text2 p {
    margin-bottom: 4rem;
    color: white;
}

.home-img2 img {
    height: 350px;
    width: 350px;
}

/* formulario */


.formulario {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

main .container {
    background: #16D833;
    color: white;
    max-width: 350px;
    min-width: 60vh;
    padding: 2rem;
    box-shadow: 25px 15px 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    transition: all 0.5s;
}

form h2 {
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
}


form h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg,whitesmoke,white);
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

.input-field label {
    display: flex;
    font-size: 1em;
    gap: 10;
}

.input-field input, .input-field select {
    margin-bottom: 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size:0.9rem;
    box-shadow: 1px 1px 6px #0000001c;
    padding: 0.6rem 1.2rem;
}

form input[type="submit"] {
    color: #16D833;
    font-size: 1em;
    font-weight: 800;
    border:1px solid rgba(22, 216, 51, 0.4);
    border-radius: 10px;
    margin-top: 2rem;
    padding: 15px 45px;
    cursor: pointer; 
    background: white;
    transition: all 0.3s;
}

form input[type="submit"]:hover {
  letter-spacing: 0.5px;
}

@media (max-width:785px) {
    .navigation {
        padding: 18px 20px;
    }
    .menu {
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
         transform: translateY(8px) rotate(45deg);
         
    }
    .menu.ativo .bar:nth-child(2){
        opacity: 0;     
   }
   .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
   }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: black;
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo {
        right: 0;
    }
    .nav-item {
        margin: 16px 0;
    }
  
}
